<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <title>Employee List</title>
</head>
<body>
<div class="container col-md-6 text-center mt-4">
    <h2 class="text text-primary">EMPLOYEE LIST</h2>
    <a th:href="'/add'" class="btn btn-success mt-3 mb-3">
        ADD NEW EMPLOYEE
    </a>
    <table class="table table-info mt-3">
        <thead>
        <tr >
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}" />
            <td>
                <a th:href="'/' + ${employee.id}" th:text="${employee.name}" class="text-dark text-decoration-none"/>
            </td>
            <td>
                <a th:href="'/' + ${employee.id}" >
                    <img th:src="${employee.image}" width="150" height="150">
                </a>
            </td>
            <td>
                <a class="btn btn-primary" th:href="'/' + ${employee.id}">
                    SEE
                </a>
            </td>
            <td>
                <a class="btn btn-warning" th:href="'/update/' + ${employee.id}">
                    EDIT
                </a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="'/delete/' + ${employee.id}" onclick="return confirm('Are you sure to delete ?');" >
                    DELETE
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

